@font-face {
    font-family: "draw";
    src: url(../fonts/FZSJ-XRWFTJW.woff) format("woff");
}

@font-face {
    font-family: "codeLight";
    src: url(../fonts/CODE-Light.woff) format("woff");
}

@font-face {
    font-family: "codeBold";
    src: url(../fonts/CODE-Bold.woff) format("woff");
}

@function rem($px) {
    @return ($px/37.5px)+rem
}

* {
    margin: 0;
    padding: 0;
    font-family: 'draw', cursive, sans-serif;
}

$fz-1:rem(20px);
$fz-1b:rem(25px);
$fz-2:rem(35px);
$fz-3:rem(52px);

$green:rgba(38,166,154 ,1);
$golden:#E0CCAA;
$yellow:#E4E4B5;
$orange:rgba(255,204,188 ,1);
$red:#ff8a80;
$pink:#ffccbc;

*{
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
html,
body {
    height: 100%;
    width: 100%;
    -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
div,section,img{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        z-index: 11;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha:0.2);
    }
}
#music_btn{
    position: fixed;
    right: rem(10px);
    top:rem(10px);
    width: 50px;
    height: 50px;
    z-index: 22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(40px);
    &.playing{
        animation: playMusic 0.8s infinite backwards;
    }
}
@keyframes playMusic{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#main_swiper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 21;

    .swiper-slide {
        display: flex;
        flex-direction: column;
    }
    &>.swiper-slide{        
        height: 100vh;
        width: 100vw;
    }
}
#loading{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    #loading_container{
        padding: rem(30px);
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color:$red;
        justify-content: center;
        p{
            font-family: 'codeBold', cursive, sans-serif;
            font-size: $fz-2;
            color:white;
            transition: 0.5s all linear;
        }
        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-ellipsis div {
            position: absolute;
            top: 27px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background:white;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
          }
          .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
          }
          @keyframes loading {
            0% {
              opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
          }
          @keyframes lds-ellipsis1 {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(1);
            }
          }
          @keyframes lds-ellipsis3 {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
          }
          @keyframes lds-ellipsis2 {
            0% {
              transform: translate(0, 0);
            }
            100% {
              transform: translate(19px, 0);
            }
          }
          
    }
    #need_music{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $golden;
        &.active{
            display: flex;
        }
        .music_choose{
            display: flex;
            justify-content: space-around;
            align-items: center;
            span{
                transition: all 0.5s linear;
                margin: rem(10px);
                &.choosed{
                    color: darken($golden,30%);
                }
                animation: scale 0.5s infinite alternate;
                &:last-of-type{
                    animation: scale 0.6s 0.5s infinite alternate;
                }
            }
        }
        .start{
            font-size: $fz-1b;
            transform: translateY(rem(100px));
        }
    }
}
#welcome {
    background: $orange;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    .welcome_cover{
        padding: rem(15px);
        position: absolute;
        letter-spacing:rem(15px);
        z-index: 5;
        height: 80%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p{
            color: white;
            font-weight: bold;
            font-size:rem(77px);
            font-family: 'codeBold', cursive, sans-serif;
        }
    }
    .welcome_infos {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: $fz-1b;
        img {
            width: 100%;
        }

        p {
            font-family: 'codeBold', cursive, sans-serif;
            margin-top: rem(10px);
            &:last-of-type{
                margin-bottom:rem(25px);
            }
            &:first-of-type{
                margin-top: rem(20px);
            }
        }
    }
}
&#our_story_container {
    // justify-content: center;
    h2 {
        margin-top: rem(40px);
        position: relative;
        z-index: 11;
        color: white;
        text-align: center;
        text-align: left;
        text-indent: 1rem;
        font-size: $fz-3;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        left: 0;
        top: 0;

        background: {
            image: url(../img/bg.jpg?.jpg?img_version=1.2);
            repeat: no-repeat;
            size: cover;
            position: center;
        }

        filter: blur(2px);
    }
}
#our_story {
    margin-top: rem(30px);
    position: relative;
    z-index: 20;
    overflow: visible;

    .swiper-slide {
        &:first-of-type {
            margin-left: 20px;
        }

        height: rem(450px);
        border: 3px solid rgba($color: #ffffff, $alpha:1);
        background-color: rgba($color: #ffffff, $alpha:0.9);
        border-radius: 10px;
        opacity: 0.5;
        display: flex;
        flex-direction: column;

        &.swiper-slide-active {
            opacity: 1;
        }

        .time {
            z-index: 11;
            position: relative;
            width: rem(83px);
            height: rem(83px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border: 1px solid #000000;
            margin: 10px;
            border-radius: 10px 0 0 0;

            .month {
                font-weight: bold;
                font-size: $fz-2;

                &.small {
                    font-size: rem(23px);
                }

                font-family: 'codeBold',
                cursive,
                sans-serif;
            }

            .year {
                font-size: $fz-1;
                font-family: 'codeBold', cursive, sans-serif;
            }
        }

        .desc {
            margin-top: rem(30px);
            text-align: center;
            z-index: 11;
            position: relative;
        }

        .img_cover {
            z-index: 11;
            position: relative;
            margin-top: rem(40px);
            text-align: center;

            img {
                width: 85%;
                border-radius: 0 0 15px 0;
            }
        }
    }

    .swiper-pagination {
        bottom: rem(-40px);
        z-index: 22;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        .ourStory_pagination {
            position: relative;
            z-index: 25;
            display: inline-block;
            width: rem(10px);
            height: rem(10px);
            border-radius: 100%;
            background: #ffffff;
            opacity: 0.5;
            outline: none;
            transition: 0.2s all ease-in-out;

            &.swiper-pagination-bullet-active {
                width: rem(40px);
                border-radius: rem(10px);
                opacity: 1;
            }
        }

    }
}

#our_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    .our_info_inner{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        &:first-of-type {
            justify-content: flex-start;
        }

        &:last-of-type {
            justify-content: flex-end;
        }

        div {
            background: rgba(255, 255, 255, 0.5);
            padding: rem(20px) rem(15px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h4 {
                font-size: $fz-3;
            }

            p.name {
                margin-top: rem(10px);
                font-size: $fz-2;
                font-family: 'codeLight', cursive, sans-serif;
            }

            p.phone {
                margin-top: rem(10px);
                font-size: $fz-1;
                font-family: 'codeBold', cursive, sans-serif;
                border-bottom: 1px solid;
                span {
                    font-size: rem(30px);
                }
            }
        }
    }
}

#wedding_info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        left: 0;
        top: 0;

        background: {
            image: url(../img/bg4.jpg?.jpg?img_version=1.1);
            repeat: no-repeat;
            size: cover;
            position: center;
        }

        filter: blur(2px);
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 11;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    &>div {
        position: relative;
        z-index: 88;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $golden;
        color: $golden;
        padding: rem(35px);

        h4 {
            font-size: $fz-3;
        }

        p {
            font-size: $fz-2;
            margin-top: rem(15px);
            font-family: 'codeBold', cursive, sans-serif;

            a {
                color: $golden !important;
                font-family: 'codeBold', cursive, sans-serif;
                text-decoration: none;
                border-bottom: 2px solid $golden;
            }

            &.tips {
                font-family: 'codeLight', cursive, sans-serif;
                font-size: $fz-1;

                span {
                    font-family: 'codeBold', cursive, sans-serif;
                }
            }
        }
    }
}
@keyframes scale{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.1)
    }
}